@font-face {
    font-family: Sansation-Bold;
    src: url(./fonts/Sansation_Bold.woff2) format('woff2');
}

@font-face {
    font-family: Sansation-Bold-Italic;
    src: url(./fonts/Sansation_Bold_Italic.woff2) format('woff2');
}

@font-face {
    font-family: Sansation-Italic;
    src: url(./fonts/Sansation_Italic.woff2) format('woff2');
}

@font-face {
    font-family: Sansation-Light;
    src: url(./fonts/Sansation_Light.woff2) format('woff2');
}

@font-face {
    font-family: Sansation-Regular;
    src: url(./fonts/Sansation_Regular.woff2) format('woff2');
}

@font-face {
    font-family: Sansation-Light-Italic;
    src: url(./fonts/Sansation_Light_Italic.woff2) format('woff2');
}
