@media (max-width: 767px) {
  .content {
    position: fixed;
    width: 100%;
    height: calc(100% - 100px);
    left: 0;
    bottom: 0;
    overflow: auto;
    background: #F8F1F1;
    padding: 0 !important;
  }
}
