@media (max-width: 767px) {
    .main {
        margin: 0;
        width: 100vw;
        height: 100%;
        text-align: center;
        z-index: 100;
        background: #F8F1F1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .title {
        font-size: 48px;
        color: #16697A;
        //display: inline-block;
    }

    .subtitle {
        font-size: 24px;
        //display: inline-block;
        font-family: 'Raleway Dots', sans-serif;
    }

    .main-fixed {
        width: 100% !important;
        height: auto !important;
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        padding: 20px;
        text-align: left;
        transform: none !important;
        background: #F8F1F1;
        z-index: 1000;
    }

    .main-fixed .title {
        font-size: 48px !important;
    }

    .main-fixed .subtitle {
        font-size: 24px !important;
        margin-left: 40px;
    }

    .scrolldown {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        animation-name: scrolldown_animate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        color: #DB6400 !important;
        font-size: 20px !important;
        margin-top: 15px !important;
        cursor: pointer !important;
    }

    .scrolldown small {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        color: #16697A;
        margin-bottom: 55px;
    }

    @keyframes scrolldown_animate {
        50% {
            bottom: 50px;
        }

        100% {
            bottom: 20px;
        }
    }

}
