@font-face {
    font-family: "Sansation-Bold";
    src: url("ttf/Sansation_Bold.ttf");
}

@font-face {
    font-family: "Sansation-Bold-Italic";
    src: url("ttf/Sansation_Bold_Italic.ttf");
}

@font-face {
    font-family: "Sansation-Italic";
    src: url("ttf/Sansation_Italic.ttf");
}

@font-face {
    font-family: "Sansation-Light";
    src: url("ttf/Sansation_Light.ttf");
}

@font-face {
    font-family: "Sansation-Regular";
    src: url("ttf/Sansation_Regular.ttf");
}

@font-face {
    font-family: "Sansation-Light-Italic";
    src: url("ttf/Sansation_Light_Italic.ttf");
}
