@media (min-width: 768px) {
    #content {
        position: fixed;
        width: 100vw;
        height: calc(100vh - 140px);
        left: 0;
        bottom: 0;
        overflow: auto;
        background: #F8F1F1;
    }
}
