@media (min-width: 768px) {
  .page {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }

  .flex-item {
    height: calc(100vh - 140px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
  }

  .flex-item-content {
    padding: 20px;
  }

  .page-subtitle {
    display: block;
    color: #DB6400;
    font-size: 52px;
    text-align: center;
    padding: 50px 20px;
    margin: 150px 0 0 0;
  }

  .page-content {
    min-height: calc(100vh - 140px);
  }

}
