@media (max-width: 767px) {
    #content {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: auto;
        background: #F8F1F1;
    }
}
