@media (max-width: 767px) {
    #btn_menu {
        position: fixed;
        top: 50px;
        right: 50px;
        width: 50px;
        height: 20px;
        z-index: 1000;
        cursor: pointer;
        font-size: 50px !important;
        color: #FFA62B !important;
    }

    #btn_menu span {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        background: #16697A;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #btn_menu span::before,
    #btn_menu span::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: #16697A;
        z-index: 1000;
    }

    #btn_menu span::before {
        top: -20px;
    }

    #btn_menu span::after {
        bottom: -20px;
    }

    #btn-menu-close {
        width: auto;
        height: auto;
        border: none;
        background: transparent;
        position: absolute;
        top: 60px;
        right: 50px;
        cursor: pointer;
    }

    #btn-menu-close span,
    #btn-menu-close span::before {
        display: block;
        content: '';
        width: 50px;
        height: 5px;
        background: #16697A;
        transform: rotate(45deg);
    }

    #btn-menu-close span::before {
        transform: rotate(90deg);
    }

    .menu-title {
        position: absolute;
        top: 42px;
        left: 40px;
        font-size: 36px;
        color: #fff;
    }

    #menu {
        position: fixed;
        width: 100%;
        height: 100%;
        background: #1B1B1B;
        z-index: 1000;
        top: 0;
        right: -100%;
    }

    .master-list {
        position: absolute;
        width: 100%;
        height: calc(100% - 330px);
        right: 0;
        bottom: 200px;
        overflow-x: hidden;
        overflow-y: auto;
        list-style: none;
        margin: 0 !important;
        padding: 0 !important;
    }

    .menu-link {
        text-decoration: none !important;
    }

    .menu-item {
        color: #FFA62B;
        transition: all .1s ease-in-out;
        font-size: 24px;
        padding: 10px 30px;
        margin-bottom: 10px;
    }

    .menu-item:hover {
        color: #FFA62B;
        background: #16697A;
    }

    .menu-item-active {
        background: #FFA62B !important;
        color: #16697A !important;
    }

    .menu-footer {
        position: absolute;
        width: 100%;
        height: auto;
        min-height: 150px;
        padding: 20px;
        left: 0;
        bottom: 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-footer small {
        color: rgba(255,255,255, .5);
        font-size: 12px;
    }

    #menu_control {
        display: none;
    }

    #menu_control:checked ~ #menu {
        right: 0 !important;
    }

}
