@media (min-width: 768px) {
  .app-header {
    position: fixed;
    width: auto;
    height: auto;
    //background: #42b983;
    top: 0;
    left: 0;
    padding: 15px 0 0 50px;
    text-align: center;
  }

  .app-header .title {
    font-size: 50px;
  }

  .app-header .subtitle {
    font-size: 25px;
  }

}
