@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$xiketic: #11001C;
$darkPurpleOne: #290025;
$darkPurpleTwo: #35012c;
$tyrianPurple: #4f0147;
$indigo: #3a015c;

* {
  margin: 0;
  padding: 0;
  //font-family: 'Roboto', sans-serif !important;
}

.roboto-custom {
  font-family: "Roboto", sans-serif !important;
}

.bg-xiketic {
  background: $xiketic;
}

.text-xiketic {
  color: $xiketic;
}

.bg-dark-purple-one {
  background: $darkPurpleOne;
}

.text-dark-purple-one {
  color: $darkPurpleOne;
}

.bg-dark-purple-two {
  background: $darkPurpleTwo;
}

.text-dark-purple-two {
  color: $darkPurpleTwo;
}

.bg-tyrian-purple {
  background: $tyrianPurple;
}

.text-tyrian-purple {
  color: $tyrianPurple;
}

.bg-new-indigo {
  background: $indigo;
}

.text-indigo {
  color: $indigo;
}

.page-title {
  display: block;
  font-size: 30px;
  font-weight: 100;
  color: $tyrianPurple;
}


@media screen and (min-width: 1000px) {
  .half-page {
    min-height: 50vh !important;
  }
}

@media screen and (max-width: 1000px) {
  .half-page {
    min-height: 80vh !important;
  }
}